<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border:1px solid #808080">
        <tr>
            <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
                <img src=cid:logo.png alt="VideoGame S.R.L" width="230" height="230" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="font-family: Bradley Hand, cursive; font-size: 20px; ">
                            Dear User,
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:20px 0 30px 0; font-family: Bradley Hand, cursive; font-size: 20px; ">
                            Your order n° {number} is now under preparation, <br>
                            Thank you for your support. <br /> <br />
                            If you want to check your order <a href="{link}">click here!</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="75%" bgcolor="green">
                <p style="margin-left: 10px; color:white; font-family: Bradley Hand, cursive; font-size: 15px; "> &reg; VideoGames S.R.L </p>
                <p style="margin-left: 10px; color:white; font-family: Bradley Hand, cursive; font-size: 15px; ">London, United Kingdom</p>
            </td>
        </tr>
    </table>
</body>
</html>
